
/****************************************************
						Main Styles CSS
****************************************************/
body{margin:0 auto;background-color:#fff;}

.clear {clear:both;}

@font-face {
	font-family: jaapokki;
	src: url('../font/jaapokki-regular.ttf');
}
button{
	background-color:transparent;
	padding:10px ;
	border: solid 2px #00baff;
	font-family: sans-serif;
}
	.button{color: white;
		text-transform: uppercase;font-weight: bold;font-size:16px;}
button:hover{
	background-color:#00baff;
	border: solid 2px #fff;
}
	.button:hover{color:#fff;}


/****************************************************
						Navigation
****************************************************/

		.fixedheader{
			margin-top:0px;
			z-index:10;
			position: fixed; 
			background-color: #fff; 
			width: 100%;
			height:130px;
			border-bottom: 2px solid #666
		}
		.navbutton{text-align: center;
			margin:0 auto;
		}
			.logo{
				background-image:url(../img/logo.png);
				display:block;
				background-repeat: no-repeat; 
				-webkit-background-size: cover; 
				background-position: center center;
				background-size: cover;	
				width:180px;
				height:100px;
			}
				.logo:hover{
					cursor:pointer;
				}

		/****************************************
						MAIN PAGE
		****************************************/
		.flyin-main {}
		.main-wrap {
			width:100%;
			overflow:hidden;
			margin:0;
			padding:0;
			z-index: -2;
		}

		.background-img{
			margin-top:115px;
			width:100%;
			height:100%;
			background-image: url(../img/workspace.png);
			background-repeat: no-repeat; 
			-webkit-background-size: cover; 
			background-position: center center;
			background-size: cover; 
			background-position: center center;

		}
		.overlay{
			margin-top:124px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: rgba(0,0,0,0.2); /*dim the background*/
		}

		/****************************************
						WORK PAGE
		****************************************/
		.work-icon{margin-top:10px;
			font-size:60px;
			font-family:jaapokki;
			display:block;
			z-index: 11;
		}
			.work-icon:hover{
				color:#00baff;
				cursor:pointer;
			}
			.mobile-work-icon{
				display:none;
			}

		.work-wrap.active{z-index:2;top:0;left:0;}
		.inactive{display:none;}
		.animated {  -webkit-animation-duration: .1s; animation-duration: .1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-timing-function: linear; animation-timing-function: linear; } 
			@-webkit-keyframes fadeInRightBig { 
			    0% { opacity: 1; -webkit-transform: translateX(2000px); } 
			    100% { opacity: 1; -webkit-transform: translateX(0); } 
			} 
			@keyframes fadeInRightBig { 
			    0% {opacity: 1;transform: translateX(2000px); } 
			    100% {opacity: 1; transform: translateX(0); } 
			} 
		.fadeInRightBig { -webkit-animation-name: fadeInRightBig; animation-name: fadeInRightBig; }

		.work-wrap{
			background-color: #000;
			font-family: arial;
			margin: 0;
			width: 100%;
			height:100%;
			display:block;
			padding:0px;
			top:0px;
			right:0px;
			z-index:0;
			position:absolute;
			right:9999;
		}
		.work-head{
			background-color: #000;
			width:100%;
			margin-top: 130px;
			margin-right: 0px;
			overflow:hidden;
		}
		.work-quote {
			width:80%;
			float left;
			padding:0 25 25 25;
			
		}
		.work-quote h3 {
			color:#fff;

		}
		.work-gallery{
			background-color: #000;
			width:100%;
			height:100%;
			overflow:hidden;
		}
		.common{
			float: left;
			width:33.3%;
			height:200px;
			margin: 0;
			padding:0;
			background-repeat: no-repeat; 
			-webkit-background-size: cover; 
			background-position: center center;
			background-size: cover; 
			background-position: center center;
		}
		.common:hover{opacity: 0.5;}
			.gallery-img-1{background-image: url(../img/shop_featured_big.png);}
			.gallery-img-2{background-image: url(../img/samsung-business-logo.png);}
			.gallery-img-3{background-image: url(../img/shop_featured_big.png);}
		
		
		/****************************************
						INFO PAGE
		****************************************/
		.info-icon{
			margin-top:10px;
			font-size:60px;
			font-family:jaapokki;
			display:block;
			z-index: 11;
		}
			.info-icon:hover{
				color:#00baff;
				cursor:pointer;
			}
			.mobile-info-icon{
				display:none;
			}
		.info-wrap.active{z-index:2;top:0;left:0;}
		.animated { 
		    -webkit-animation-duration: .1s; 
		    animation-duration: .1s; 
		    -webkit-animation-fill-mode: both; 
		    animation-fill-mode: both; 
		    -webkit-animation-timing-function: linear; 
		    animation-timing-function: linear; 
		} 

		@-webkit-keyframes fadeInLeftBig { 
		    0% { 
		        opacity: 1; 
		        -webkit-transform: translateX(-2000px); 
		    } 
		    100% { 
		        opacity: 1; 
		        -webkit-transform: translateX(0); 
		    } 
		} 
		@keyframes fadeInLeftBig { 
		    0% { 
		        opacity: 1; 
		        transform: translateX(-2000px); 
		    } 
		    100% { 
		        opacity: 1; 
		        transform: translateX(0); 
		    } 
		} 
		.fadeInLeftBig { 
		    -webkit-animation-name: fadeInLeftBig; 
		    animation-name: fadeInLeftBig; 
		}
		.info-wrap{
			font-family: arial;
			margin: 0;
			width: 100%;
			height:100%;
			display:block;
			padding:0px;
			top:0px;
			right:0px;
			z-index:0;
			position:absolute;
			left:-9999;
		}
			.info-wrap h2{

				padding-left:20px;
			}
			.info-wrap h3{
				margin:5 0 0 0px;
				padding-left:20px;
			}
			.info-wrap h4{
				margin:0px;
				padding-left:20px;font-style:italic;
			}
			.info-wrap p{
				padding-right:20px;
			}
			
			.info-wrap ul{
				margin: 0px;
			}
			.info-wrap ul li{
				padding-right:20px;
				padding-top: 10px;
			}
			.info-head{
				color:#fff;
				background-image:url(../img/scratched-texture.jpg);
				width:100%;
				overflow:hidden;
				margin-top: 125px;
			}
			.about-me{
				float:left;
				width:100%;
			}
				.about-me h2{
					margin:90 0 0 20px; 
					padding:0px;

				}
			
			.info-section-resume{
				color:white;
				width:100%;
				overflow:hidden;
				}
				.resume-header{
					background-image:url(../img/industry-recognition-bkg.png);
					overflow:hidden;
				}
				.resume-header h2{color:#00baff;}
				
				.resume-header button{
					float: right;
					margin-top: 10px;
					margin-right:20px;
					color:#00baff;
				}
				.resume-companies{
					background-image:url(../img/industry-recognition-bkg.png);
					width:100%;
					padding:25 0;
					overflow:hidden;
					text-align: center;
				}
				.skills{
					background-color:black;
					overflow:hidden;
					padding:0px;
				}
					.skills-content {
						text-align: center;
						margin:0 20px;
					}
					.skills-content i{
						padding:15 0px;
					}
					.skills-content h4{
						padding-left:0px;
					}
					.skills-content p{
						padding:0px;
					}
				
				.work-dates{font-size:16px;}
				.barbarian-hero{
					color:#000;
					float: left;
					padding:0;
					width:100%;
					background-color:#fff;
					background-repeat: no-repeat; 
					-webkit-background-size: cover; 
					background-position: center center;
					background-size: cover; 
					background-position: center center;
				}
				.soicialterminals{
					color:#000;
					float: left;
					padding:0;
					width:100%;
					background-color:#fff;
					background-repeat: no-repeat; 
					-webkit-background-size: cover; 
					background-position: center center;
					background-size: cover; 
					background-position: center center;
				}
			.info-section-social{
				color:#000;
				background-color: white;
				width:100%;
				height:100%;
				overflow:hidden;
			}
			